@import "/src/styles/mixings";

.listContainer {
  &_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    list-style: none;
    padding: 50px;

    @include breakpoints(mobile) {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(1, 1fr);
      padding: 20px;
      grid-column-gap: 0;
    }

    @include breakpoints(tablet) {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(1, 1fr);
      padding: 20px;
      grid-column-gap: 0;
    }

    @include breakpoints(laptop) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }

    @include breakpoints(largescreens) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
  }
}
