@import "/src/styles/mixings";

.descriptionWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0;
  width: 50%;
  @include breakpoints(mobile) {
    width: 100%;
    padding: 20px;
  }
  @include breakpoints(tablet) {
    width: 100%;
    padding: 20px;
  }
  &_launchName {
    color: #281d7a;
    margin-bottom: 15px;
  }

  &_text {
    font-size: 18px;
    font-weight: bold;
    color: #130e3b;
  }

  &_detailsWrapper {
    color: #130e3b;
    font-weight: bold;
    padding-bottom: 25px;
    @include breakpoints(mobile) {
      padding-top: 20px;
    }
    @include breakpoints(tablet) {
      padding-top: 20px;
    }
    @include breakpoints(laptop) {
      padding-top: 20px;
    }

    &__detail {
      display: flex;
    }
  }
}

.iconCheck {
  color: green;
  font-size: 22px;
}
.iconX {
  color: red;
  font-size: 22px;
}
